{% extends "base.html" %}
{% load static %}
{% block body %}
<button onclick="toHome()" class="pb-2 rounded rounded-3 pt-2 pl-4 pr-4 bg-success text-light mt-2 ml-5"><b>Home</b></button>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;" class="mt-3">
    <div style="cursor: pointer;" onclick="$('#select_file').click()" class="pl-5 pr-5 pt-3 pb-3 rounded rounded-3 bg-primary text-light"><b>Choose Document</b></div>
    <p>Choose a PDF file to start</p>
    <input style="display: none;" type="file" id="select_file" accept="application/pdf" onchange="convertPDFtoHTML(this.files[0])">
    </div>
    <div class="container row mt-5 gap-3" style="max-width: 100%;">
        <div class="col-md-4">
        <div id="instruction" style="display: none;">
          <h4><u>Instructions</u></h4>
          <b>1.</b>Please click the area where you want to add sign area.<br>
          <b>2.</b>You can drag the sign area to where you want.<br>
          <b>3.</b>You can also adjust the size of sign area.<br>
          <b>4.</b>When select a sign area it will become blue colour. You can unselect by cliking outside of that sign area on the pdf page<br>
          <b>5.</b>When you click on a specific sign area it will available to adjust font size and you can also remove it.<br>
        </div>
        <div id="settings" style="display: none;">
          <div id="sliders">
            <label for="" class="mt-3"><b id="selection"></b></label><br>
            <label for="" class="mt-3"><b>Font Size</b></label>
            <input type="range" min="10" max="50" value="18" class="slider" id="fontSize">
          </div>    
          <button id="remove_but" class="bg-danger p-2 mt-3 text-light rounded rounded-3"><b>Remove</b></button><br>
        </div>
        <div id="send_area" style="display: none;">
        <div class="mt-3" data-toggle="modal" data-target="#exampleModal">
            <button id="send" class="bg-success p-2 mt-3 text-light rounded rounded-3"><b>Send To Users</b></button><br>
        </div>
        </div>
    </div>
    <div class="col-md-8" style="overflow-y: scroll; height: 500px; max-width: 100%;">
  <div id="htmlOutput" style="display: flex; flex-direction: column;"></div>
</div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            <label for=""><b>Document Name</b></label>
            <input id="doc_name" placeholder="Enter document name" type="text" class="form-control">  
            <label class="mt-3" for=""><b>Email</b></label>
          <input id="email" placeholder="Enter email of users" type="email" class="form-control">
          <button id="add_reciever" class="bg-success text-light rounded rounded-3 p-2 text-ligh mt-3"><b>Add</b></button><br>
          <label class="mt-3" for=""><b>Recievers</b></label>
          <div id="recievers">

          </div>
        </div>
        <div class="modal-footer">
          <button id="close_but" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="send_doc" type="button" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
{% block scripts %}
<script src="{% static 'js/signArea.js' %}"></script>
{% endblock scripts %}
